@if (book) {
  <div class="card mb-4">
    <div class="card-body bg-light">
        <img class="img-thumbnail float-end" alt="" src="https://api.angular.schule/avatar/{{ book.rating }}">
      <div class="card-title">
        <h2>
          {{ book.title }}
          <span class="badge bg-secondary">{{ book.rating }}</span>
        </h2>
      </div>
      <p>{{ book.description }}</p>

      <button (click)="doRateDown()" class="btn btn-primary me-2">-1</button>
      <button (click)="doRateUp()"class="btn btn-primary">+1</button>

      {{ log() }}
    </div>
  </div>
}
